<div class="container">
    <div class="row text-center">

        <h1>Eat Da Burger</h1>
    </div>
    <div class="row text-center">
        <h2>Burgers</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <h3>Not Devoured</h3>
            <ul>
                {{#each burger}}
                    {{#unless this.devoured}}
                    <li>
                        {{id}}. {{burger_name}}
                        <button type="button" class="btn btn-secondary" data-id="{{id}}" id="change-devour">Devour</button>
                    </li>
                    {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-md-6">
            <h3>Devoured</h3>
            <ul>
                {{#each burger}}
                    {{#if this.devoured}}
                    <li>
                        {{id}}.{{burger_name}}
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row text-center">
        <h2>Add a Burger</h2>
    </div>
    <div class="row text-center">
        <form class="create-form">

            <div class="form-group" id="newBurgerForm">
                <label for="burger">Burger Name:</label>
                <input type="text" id="newBurger" name="name">
            </div>
        </form>
        <button type="submit" class="btn btn-secondary" id="burgerNew">Add Burger</button>
    </div>
</div>